 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/style.css">
</head>
<body class="documentsContainer">

<div class="container profile-container">
    <div class="profile-image-container">


        <div class="profile-image">
           {{#if isUrl}}
                <img src="{{user.avatar}}" alt="Avatar" id="profileImage" />
            {{else}}
             <img src="/docs/profile/{{user.avatar}}" alt="Avatar" id="profileImage"  />
            {{/if}}
        </div>
        <div class="edit-avatar" data-toggle="modal" data-target="#uploadAvatarModal"><i class="fa-regular fa-pen-to-square"></i></div>
    </div>

    <div class="user-info">
        <h1>{{user.Usuario}}</h1>
        <h6>{{user.email}}</h6>
        <p>({{user.role}})</p>
        
    </div>
    <div id="alertNewAvatar"></div>
        <div class="user-docsDto">
         {{#if userInfoDTO.dni}}
        <p>DNI: {{userInfoDTO.dni.reference}}</p>
        {{/if}}
        {{#if userInfoDTO.address}}
        <p>Address Reference: {{userInfoDTO.address.reference}}</p>
        {{/if}}
        {{#if userInfoDTO.bank}}
        <p>Bank Reference: {{userInfoDTO.bank.reference}}</p>
        {{/if}}
         </div>
    {{!-- <form action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data" class="document-form"> --}}
    <div class="documentsAlertContainer "></div>

    <form action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data" class="document-form" id="uploadForm">
    <div class="form-group">
        <label for="dni">Documento DNI:</label>
        <input type="file" name="dni" id="dni" class="form-control">
    </div>
    <div class="form-group">
        <label for="address">Documento de Dirección:</label>
        <input type="file" name="address" id="address" class="form-control">
    </div>
    <div class="form-group">
        <label for="bank">Documento Bancario:</label>
        <input type="file" name="bank" id="bank" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

    <!-- bootstrap modal  -->
    <div class="modal fade" id="uploadAvatarModal" tabindex="-1" role="dialog" aria-labelledby="uploadAvatarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadAvatarModalLabel">Subir nuevo Avatar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="avatarAlertContainer"></div>
                    <form action="/api/users/{{user._id}}/updateAvatar" method="post" enctype="multipart/form-data" id="uploadAvatarForm">
                        <label for="avatar">Choose Avatar:</label>
                        <input type="file" name="profile" id="avatar" accept="image/*" onchange="previewImage(this)">
                        <button type="submit" class="btn btn-primary">Upload Avatar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="upgrade">
    <button class="btn btn-danger">
  <a href="/api/users/premium/{{user._id }}" class="signout">Upgrade rol<a>
</button>
</div>

    <script>
        function previewImage(input) {
            const preview = document.getElementById('profileImage');
            const file = input.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
    </script>
<script src="/js/documents.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
