<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
</head>
<body>

    {{#if product}}
    <div class='itemDetail'>
        <div class='imgDetail'>
            {{!-- <img src="{{product.thumbnails}}" alt="{{product.title}}" class="detailImg">
         --}}
          {{renderImage product.thumbnails "detailImg"}}
        </div>
        <div class='detalle'>
            <h1 class='nombreProducto'>{{product.title}}</h1>
            <h4 class='precioDetail'>$ {{product.price}}.00 ARS</h4>
            <div class='stock'>
                <input type="number" class="cantidadDetail" id="productQuantity_{{product._id}}" min="1" max="{{product.stock}}">
            </div>
            <p class='stockNum'>Stock: {{product.stock}}</p>
            <button class='botonDetail' id="addProductToCart" data-product="{{product._id}}"  data-cart="{{ cartId }}">Agregar al Carrito</button>
            <a href="/api/products" class="botonDetail">⬅️ Volver a productos</a>
        </div>
        <div class='descripcion'>
            <h5>Descripcion del Producto:</h5>
            <p>{{product.description}}</p>
        </div>
    </div>
    {{else}}
    <h1>No se encontró el producto</h1>
    {{/if}}
    
    <script src="/js/addProduct.js"></script>
</body>
</html>
