<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Websocket Products || E-commerce</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2>Live Updated Products</h2>

<div class="container">
    {{#if productList.length}}
      {{#each productList}}
        <div class="cards">
         
           {{renderImage this.thumbnails "productImage"}}
        {{!--  <img src="{{this.thumbnails}}" alt="Imagen del producto" class="productImage">
         --}}
           /<h3 class="cardTitle">{{this.title}}</h3>
          <h4 class="cardPrice">$ {{this.price}}</h4>
          <h4 class="cardStock">Stock: {{this.stock}}</h4>
         <button onclick="deleteProduct('{{this._id}}')"> Eliminar ✖️</button>
        </div>
      {{/each}}
    {{else}}
      <h1>No se encontraron productos</h1>
    {{/if}}
  </div>






  <!-- formulario para agregar productos -->

<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="multerTab" data-toggle="tab"  href="#multerForm" >Multer Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="urlTab" data-toggle="tab" href="#urlForm">URL Form</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <!-- Multer Form -->
        <div class="tab-pane fade show active" id="multerForm">
            <form id="productForm" enctype="multipart/form-data" class="container mt-5  mb-4 p-4 shadow-lg">

        <h4 class="multerTitle">Agregar producto por Multer:</h4>
   
    <div class="mb-3">
        <label for="title" class="form-label">Título:</label>
        <input type="text" id="title" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Descripción:</label>
        <textarea id="description" name="description" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Precio:</label>
        <input type="number" id="price" name="price" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">Categoría:</label>
        <input type="text" id="category" name="category" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="code" class="form-label">Código:</label>
        <input type="text" id="code" name="code" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="stock" class="form-label">Stock:</label>
        <input type="number" id="stock" name="stock" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="thumbnails" class="form-label">Seleccionar Imagen:</label>
        <input type="file" id="thumbnails" name="thumbnails" class="form-control" accept="image/*" required>
    </div>

    <input type="hidden" id="userEmail" name="userEmail" value="{{userEmail}}">
    <input type="hidden" id="userRole" name="userRole" value="{{userRole}}">


<button type="button" id="multerSubmitBtn" class="btn btn-dark">Crear Producto (multer)</button>

</form> 
        </div>

        <!-- URL Form -->
        <div class="tab-pane fade" id="urlForm">
            <form id="formularioAgregarProducto">
       <input type="hidden" id="userEmailAdd" value="{{userEmail}}">
       <input type="hidden" id="userRoleAdd" value="{{userRole}}">
    <input type="text" id="titleAdd" placeholder="Título" required>
    <input type="text" id="descriptionAdd" placeholder="Descripción" required>
    <input type="number" id="priceAdd" placeholder="Precio"  required>
    <input type="text" id="categoryAdd" placeholder="Categoría" required>
    <input type="text" id="codeAdd" placeholder="Código" required>
    <input type="number" id="stockAdd" placeholder="Stock" required>
         <input type="text" id="thumbnailsAdd" placeholder="URL de la imagen">
    <button type="submit" id="agregarProductoBtn">Agregar Producto</button>
  </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>
<script src="/js/multerForm.js"></script>


</body>
</html>


     